*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection
{
    background:rgb(62, 18, 237);
    color: #fff;
}
.copy,.paste
{
    width: 400px;
    margin:100px auto;
    display: flex;
}
.copy input,.paste input
{
    outline: none;
    border: 2px solid rgb(62, 18, 237);
    padding: 10px 20px;
}
.copy button
{
    outline: none;
    border: none;
    background: rgb(62, 18, 237);
    color: #fff;
    padding:15px;
    cursor: pointer;
}